{% extends "layout.html" %}
{% block body %}

<h1><a href="/">Løkomaten</a></h1>

<h2><a href="/{{ tropp }}/submit">Send inn løkstrek</a></h2>
<div id="loker">
  <div id="ukas">

  <h3>Ukas Løk</h3>

    <table id="ukas" class="center">
      <tr>
        <th>Navn</th>
        <th>Ukas Løkstreker</th>
      </tr>

    {% for n in ukas %}
    <tr>
      <td>{{ n[0] }}</th>
      <td>{{ n[1] }}</th>
    </tr>
    {% endfor %}
    </table>
  </div>

  <div id="forrige">
    <h3>Forrige ukes løker</h3>

    <table id="past" class="center">
      <tr>
        <th>Uke</th>
        <th>Løk</th>
      </tr>

    {% for u in past %}
    <tr>
      <td><a href="/{{ tropp }}/uke/{{ u }}">{{ u }}</a></th>
      <td>{{ past[u] }}</th>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div id="totalt">
    <h3>Totale løkstreker</h3>

    <table id="totalt" class="center">
      <tr>
        <th>Navn</th>
        <th>Totale Løkstreker</th>
      </tr>

    {% for n in total %}

    <tr>
      <!-- <td>{{ n[0] }}</th> -->
      <td><a href="/{{ tropp }}/{{ n[0] }}">{{ n[0] }}</a></th>
      <td>{{ n[1] }}</th>
    </tr>

    {% endfor %}
    </table>
  </div>
</div>

<div id="alle">
  <h3>Løkstreker</h3>
  <table id="alt" class="center" >
    <tr>
      <th>Navn</th>
      <th>Løkstreker</th>
      <th>forklaring</th>
      <th>Dato</th>
    </tr>
  {% for line in r %}
  <tr>
    <td>{{ line['navn'] }}</th>
    <td>{{ line['antall'] }}</th>
    <td>{{ line['forklaring'] }}</th>
    <td>{{ line['dato'] }}</th>
  </tr>

  {% endfor %}
  </table>
</div>
{% endblock %}
