{% extends "layout.html" %}
{% block body %}

<h1>Løkomaten KP4</h1>

{% for t in troops %}
<h2><a href="/{{ t }}">{{ t }}</a></h2>
{% endfor %}

<h3>Løkeste tropp</h3>

<table id="totalt" class="center">
  <tr>
    <th>Tropp</th>
    <th>Løkstreker</th>
  </tr>

{% for tr in tropp %}
  <tr>
    <td>{{ tr[0] }}</th>
    <td>{{ tr[1] }}</th>
  </tr>
{% endfor %}
</table>

<h3>Kompaniets Løk</h3>

<table id="totalt" class="center">
  <tr>
    <th>Navn</th>
    <th>Løkstreker</th>
  </tr>

{% for l in lok %}
  <tr>
    <td>{{ l[0] }}</th>
    <td>{{ l[1] }}</th>
  </tr>
{% endfor %}
</table>



{% endblock %}
