{% extends "layout.html" %}
{% block body %}

<h3>Ukas Løk uke {{ ukeNr }}</h3>

<table id="ukas" class="center">
  <tr>
    <th>Navn</th>
    <th>Ukas Løkstreker</th>
  </tr>

{% for n in ukas %}
<tr>
  <td>{{ n }}</th> 
  <td>{{ ukas[n] }}</th> 
</tr>
{% endfor %}
</table>


<h3>Løkstreker</h3>
<table id="alt" class="center" >
  <tr>
    <th>Navn</th>
    <th>Løkstreker</th>
    <th>forklaring</th>
    <th>Dato</th>
  </tr>
{% for line in streker %}
<tr>
  <td>{{ line['navn'] }}</th> 
  <td>{{ line['antall'] }}</th> 
  <td>{{ line['forklaring'] }}</th>
  <td>{{ line['dato'] }}</th> 
</tr>

{% endfor %}
</table>


{% endblock %}
